.main-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 15px
}

.Confirmed{
  width: 400px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: #add8e6;
}

.Deaths{
    width: 400px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: #f08080;
}
.Recovered{
  width: 400px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: #90ee90;
}
.update{
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center   
}
.headerCountry{
    display: flex;
    align-items: center;
    justify-content: center  
}
.fontSize{
  font-family: sans-serif;
  font-style: italic;
}
#footer{
  position:fixed;
  padding-bottom: 2px;
  left:0px;
  bottom:0px;
  height: 3vh;
  width:100%;
  background:#999;
  text-align: center;
  color:white;
  background-color: deepskyblue;
}
@media screen and (max-width: 820px) { 
  .main-wrapper{
    display: list-item;
    /* margin: auto; */
    /* justify-content: space-around; */
  }
  .Confirmed{
    width: 60vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
    background: #add8e6;
  }
  
  .Deaths{
      width: 60vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
    background: #f08080;
  }
  .Recovered{
    width: 60vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 15px;
    text-align: center;
    background: #90ee90;
  }
}
@media screen and (max-width: 480px) { 
  .main-wrapper{
    display: list-item;
    /* margin: auto; */
    /* justify-content: space-around; */
  }
  .Confirmed{
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 25px;
    text-align: center;
    background: #add8e6;
  }
  
  .Deaths{
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 25px;
    text-align: center;
    background: #f08080;
  }
  .Recovered{
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 4px;
    margin: 25px;
    text-align: center;
    background: #90ee90;
  }}
