.main-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 20px
}

.Confirmed{
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: lightblue;
}

.Deaths{
    width: 320px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: lightcoral;
}
.Recovered{
    width: 320px;
  padding: 10px;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: lightgreen;
}
.update{
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center   
}
.headerCountry{
    display: flex;
    align-items: center;
    justify-content: center  
}